{% extends 'base.html' %}
{% block title %}
  {{ post.text }}
{% endblock%}

{% block content %}
<div class="container">
  <div class="p-3">
    <div class="card" style="background: rgba(255,255,255,0.8); top: 100px; padding: 16px;">
      <div class="card-body">
        <h1 class="card-title">{{ post.text }}</h1>
        <p class="card-text">Created by:
          <a href="{% url 'user_profile' post.created_by.id %}">{{ post.created_by.username }}</a>
        </p>
        <div class="m-2">
      {% if user == post.created_by %}
        <a class="btn btn-secondary" href="{% url 'post_edit' post.id %}">Edit post</a>
        <a class="btn btn-secondary" href="{% url 'post_delete' post.id %}">Delete post</a>
        <a class="btn btn-secondary" href="{% url 'upload_image' pk=post.id %}">Upload Image</a>
      {% endif %}
      <br>
      <hr>
      {% if post.images.all %}
      {% for image_group in img %}
          <img src = "{{ image_group.image.url }}" alt = "{{image_group.image}}" width = 300 height = 300 />
        {% endfor %}
    {% endif %}
    </div>
      </div>
      <div class="card-footer text-muted">
        {{ post.created_at }}
      </div>
    </div>

    

  </div>
  <div class="container">
  <div class="p-3">
  <div class="card" style="background: rgba(255,255,255,0.8); top: 100px; padding: 16px;">
    <div class="card-body">
    <h2>Comments</h2>
    <div class="card-footer text-muted">
    {% if user.is_authenticated %}
    <form action="{% url 'comment_create' post.id %}" method="post" class="form-inline ">
      {% csrf_token %}
      <!--{{ form.as_p }}-->
      <div class="form-group mx-2">
        <input class="form-control" type="text" name="text" required="" id="id_text" maxlength="200">
      </div>
      <input class="btn btn-secondary" type="submit" value="Comment" />
    </form>
    {% endif %}
    
    
    {% if post.comments.all %}
      {% regroup post.comments.all|dictsortreversed:"created_at" by created_at as comments %}
      {% for comment_group in comments %}
        {% for comment in comment_group.list %}
        <div class="card m-3">
          
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                {{ comment.text }}
                {% if comment.created_at|date:"Y-m-d H:M" !=  comment.updated_at|date:"Y-m-d H:M" %}
                  <small><i>(edited)</i></small>
                {% endif %}
              </p>
              <footer class="blockquote-footer">commented by
                <cite><a href="{% url 'user_profile' comment.created_by.id %}">{{ comment.created_by.username }}</a></cite>
                on <cite>{{ comment.created_at }}</cite>
              </footer>
              
            </blockquote>
            <div class="m-2 ">
              <a class="btn btn-secondary" href="{% url 'comment_edit' post.id comment.id %}">Edit comment</a>
              <a class="btn btn-secondary" href="{% url 'comment_delete' post.id comment.id %}">Delete comment</a>
            </div>
          </div>
        </div>
        {% endfor%}
      {% endfor %}
    {% else %}
      <p class="font-italic"> No comments yet.</p>
    {% endif %}
  </div>
  </div>
  </div>
  </div>
  </div>
</div>
{% endblock %}
