{% extends 'base.html' %}
{% block title %}
  Create post
{% endblock%}

{% block content %}
  <form method="post" class="form-inline justify-content-center">
    {% csrf_token %}
    <div class="card" style="background: rgba(255,255,255,0.8); top: 100px; padding: 16px;">
    <div class="form-group mx-2 card m-3">
      <textarea rows="4" cols="50" class="form-control" type="text-area" 
      name="text" required="" id="id_text" maxlength="200"></textarea>
    </div>
    <div class="m-2" style="text-align:center;">
    <input class="btn btn-secondary" type="submit" value="Create post" />
    </div>
    </div>
  </form>
{% endblock %}
