{% extends 'base.html' %}

{% block title %} User Profile - {{ userprofile.username }} {% endblock %}

{% block content %}
<div class="container">
  <h1>{{ userprofile.username }}' Profile</h1>
    <ul class="list-group m-4">
      <li class="list-group-item"><b>Fullname:</b> {{ userprofile.first_name }} {{ userprofile.last_name }}</li>
      <li class="list-group-item"><b>Username:</b> {{ userprofile.username }}</li>
      <li class="list-group-item"><b>E-mail:</b> {{ userprofile.email }}</li>
      <li class="list-group-item"><b>Birthday:</b> {{ userprofile.profile.birthday }}</li>
    </ul>
</div>
   <div class="m-2">
      <a class="btn btn-primary" href="{% url 'profile_edit' user.profile.id %}">Edit profile</a>
    </div>
{% endblock %}
