{% extends 'base.html' %}
{% block title %}
  Create profile
{% endblock%}

{% block content %}
  <form method="post" class="form-inline justify-content-center">
    {% csrf_token %}
    <div class="card" style="background: rgba(255,255,255,0.8); top: 100px; padding: 16px;">
     <h2 class="text-center">Create your profile</h2>
    <div class="form-group mx-2" style="padding: 16px;">
        <label  class="control-label col-sm-4" for="id_first_name">First name: </label>
        <div class="col-sm-8">
            <input type="text" name="first_name" class="form-control" required="" id="id_first_name">
        </div>
    </div>
    <div class="form-group mx-2" style="padding: 16px;">
        <label class="control-label col-sm-4" for="id_last_name">Last name: </label>
        <div class="col-sm-8">
            <input type="text" name="last_name" class="form-control" required="" id="id_last_name">
        </div>
    </div>
    <div class="form-group mx-2" style="padding: 16px;">
      <label class="control-label col-sm-4" for="id_birthday">Birthday: </label>
      <div class="col-sm-8">
          <input type="date" name="birthday" min="1918-01-01" class="form-control" required="" id="id_birthday">
        </div>
    </div>
    <div class="text-center">
        <input class="btn btn-secondary btn-success" style="padding: 16px;" type="submit" value="Create profile" />
    </div>
    </div>
  </form>
{% endblock %}
